#references-projects-v{
  margin: 2em;
  position: absolute;
  top: 5%;
  left: 30%;
  margin-right: -70%;
  transform: translate(-50%, -50%)
}

 #references-projects-a{
   margin: 2em;
   position: absolute;
   top: 5%;
   left: 60%;
   margin-right: -40%;
   transform: translate(-50%, -50%)
 }
